# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# fastlane
vendor/bundle
fastlane/.env.secret
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
*.ipa
*.dSYM.zip
*.png
!e2e/**/*.png
!apps/vitrine/public/*.png
!apps/vitrine/public/*.mp4
.playwright-mcp/
playwright-report/
test-results/
